@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
   
body {
    background-color: #1F1F1F;
    color: white;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

.font-title {
    font-family: 'Rubik Glitch', cursive;
}

.font-subtitle {
    font-family: 'Zen Dots', cursive;
}

#menu {
    flex-direction: row;
}

#content {
    width: 100%;
}

.menu-item {
    padding: 2%;
    margin-top: 5%;
}

#profile {
    width: 30%;
    border-radius: 50%;
}

.fa {
    width: 10%;
    margin-top: 5%;
    margin-right: 15%;
    padding: 5px;
}

.frontend-language-icon {
    aspect-ratio: 1;
    width: 20%;
    padding: 5px;
}

.backend-language-icon {
    aspect-ratio: 1;
    width: 25%;
    padding: 5px;
}

.content-container {
    width: 100vw;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .navigation, #details {
        flex-direction: column;
    }
    
    #menu {
        visibility: visible;
        width: 15%;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    #home {
        align-self: center;
    }

    #resume {
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
    }
}